In [589]:
import pandas as pd
from sqlalchemy import create_engine

In [611]:
# Read in csv
winners = "Resources/championsdata.csv"
winners_data_df = pd.read_csv(winners)
winners_data_df.head()

,Year,Team,Game,Win,Home,MP,FG,FGA,FGP,TP,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Lakers,1,1,1,240,48,89,0.539,0,...,0.867,12,31,43,30,5,9,17,24,109
1,1980,Lakers,2,0,1,240,48,95,0.505,0,...,0.667,15,37,52,32,12,7,26,27,104
2,1980,Lakers,3,1,0,240,44,92,0.478,0,...,0.767,22,34,56,20,5,5,20,25,111
3,1980,Lakers,4,0,0,240,44,93,0.473,0,...,0.737,18,31,49,23,12,6,19,22,102
4,1980,Lakers,5,1,1,240,41,91,0.451,0,...,0.788,19,37,56,28,7,6,21,27,108

In [591]:
# Read in csv
losers = "Resources/runnerupsdata.csv"
losers_data_df = pd.read_csv(losers)
losers_data_df.head()

,Year,Team,Game,Win,Home,MP,FG,FGA,FGP,TP,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Sixers,1,0,0,240,40,90,0.444,0,...,0.786,14,26,40,28,12,13,14,17,102
1,1980,Sixers,2,1,0,240,43,85,0.506,0,...,0.778,5,29,34,34,14,11,20,21,107
2,1980,Sixers,3,0,1,240,45,93,0.484,1,...,0.588,13,24,37,34,12,8,13,25,101
3,1980,Sixers,4,1,1,240,41,79,0.519,0,...,0.885,5,29,34,31,5,10,14,20,105
4,1980,Sixers,5,0,0,240,42,94,0.447,0,...,0.792,13,29,42,32,9,7,12,25,103

In [592]:
# Read in csv
players = "Resources/NBASalaryData03-17.csv"
players_data_df = pd.read_csv(players)
players_data_df.head()

                     team      salary            player position     season
0  Minnesota Timberwolves  25200000.0     Kevin Garnett       PF  2002-2003
1  Portland Trail Blazers  13500000.0  Damon Stoudamire       PG  2002-2003
2     Seattle SuperSonics  13080000.0       Gary Payton       PG  2002-2003
3     Seattle SuperSonics  12375000.0         Ray Allen       SG  2002-2003
4         New York Knicks  12375000.0  Latrell Sprewell       SG  2002-2003

In [593]:
# Checking data types of df
players_data_df.dtypes

team         object
salary      float64
player       object
position     object
season       object
dtype: object

In [594]:
# Remove beginnin year of players season
players_data_df['season'] = players_data_df['season'].str.split('-').str[1]

In [595]:
# Make sure correct portion of season removed
players_data_df.head()

                     team      salary            player position season
0  Minnesota Timberwolves  25200000.0     Kevin Garnett       PF   2003
1  Portland Trail Blazers  13500000.0  Damon Stoudamire       PG   2003
2     Seattle SuperSonics  13080000.0       Gary Payton       PG   2003
3     Seattle SuperSonics  12375000.0         Ray Allen       SG   2003
4         New York Knicks  12375000.0  Latrell Sprewell       SG   2003

In [596]:
# Capitalize column headers and change season to Year for future join
transformed_players = players_data_df.rename(columns={'team': 'Team', 'salary': 'Salary',
                                                    'player': "Player", 'position':'Position',
                                                    'season': 'Year'})

# Verify
transformed_players.head()

                     Team      Salary            Player Position  Year
0  Minnesota Timberwolves  25200000.0     Kevin Garnett       PF  2003
1  Portland Trail Blazers  13500000.0  Damon Stoudamire       PG  2003
2     Seattle SuperSonics  13080000.0       Gary Payton       PG  2003
3     Seattle SuperSonics  12375000.0         Ray Allen       SG  2003
4         New York Knicks  12375000.0  Latrell Sprewell       SG  2003

In [612]:
# Create list of teams in both winning dataframes
winning_team = winners_data_df['Team']
losing_team = losers_data_df['Team']
teams = winning_team.append(losing_team)

# Find unique values
unique_teams= teams.unique()

# Make into list
list_teams = list(unique_teams)
list_teams

['Lakers',
 'Celtics',
 'Sixers',
 'Pistons',
 'Bulls',
 'Rockets',
 'Spurs',
 'Heat',
 'Mavericks',
 "'Heat'",
 'Warriors',
 'Cavaliers',
 'Warriorrs',
 'Blazers',
 'Suns',
 'Knicks',
 'Magic',
 'Sonics',
 'Jazz',
 'Pacers',
 'Nets',
 'Thunder']

In [615]:
# Remove odd team names from list (to replace in winning_teams_df and losing_teams_df)
list_teams.remove("'Heat'")
list_teams.remove('Warriorrs')
list_teams

['Lakers',
 'Celtics',
 'Sixers',
 'Pistons',
 'Bulls',
 'Rockets',
 'Spurs',
 'Heat',
 'Mavericks',
 'Warriors',
 'Cavaliers',
 'Blazers',
 'Suns',
 'Knicks',
 'Magic',
 'Sonics',
 'Jazz',
 'Pacers',
 'Nets',
 'Thunder']

In [599]:
# Check if team name contains a team throw out rows that do not
for ind, row in transformed_players.iterrows():
    if row['Team'].endswith(tuple(list_teams)):
        for team in list_teams:
            if team in row['Team']:
                transformed_players.loc[ind, 'Team'] = team
    else:
        transformed_players = transformed_players.drop(ind)

In [610]:
# Preview
transformed_players

           Team      Salary              Player Position  Year
1       Blazers  13500000.0    Damon Stoudamire       PG  2003
2        Sonics  13080000.0         Gary Payton       PG  2003
3        Sonics  12375000.0           Ray Allen       SG  2003
4        Knicks  12375000.0    Latrell Sprewell       SG  2003
5       Celtics  12375000.0      Antoine Walker       PF  2003
6          Suns  12375000.0     Stephon Marbury       PG  2003
7         Spurs  12072000.0          Tim Duncan        C  2003
8         Magic  12072000.0       Tracy McGrady       SG  2003
9         Magic  12072000.0          Grant Hill       SF  2003
10       Pacers  12046000.0       Reggie Miller       SG  2003
11       Lakers  23571000.0    Shaquille O'Neal        C  2003
13    Mavericks  11953000.0      Michael Finley       SG  2003
15         Heat  11200000.0         Eddie Jones       SG  2003
16         Heat  11121000.0         Brian Grant       PF  2003
17       Knicks  11000000.0       Allan Houston       SG  2003
18         Suns  10890000.0       Tom Gugliotta       PF  2003
21        Spurs  10500000.0      David Robinson        C  2003
22        Magic  21500000.0          Shawn Kemp        C  2003
23    Mavericks  10003000.0       Nick Van Exel       PG  2003
24        Spurs   9900000.0         Steve Smith       SG  2003
28         Nets   9260000.0          Jason Kidd       PG  2003
29      Rockets   9200000.0           Glen Rice       SF  2003
30       Sonics   9185000.0      Kenny Anderson       PG  2003
31         Jazz   9000000.0       John Stockton        G  2003
32         Nets   8717000.0       Kerry Kittles       SG  2003
34      Pistons   8421000.0   Clifford Robinson       PF  2003
35      Blazers  19727000.0      Scottie Pippen       SF  2003
36         Jazz  19250000.0         Karl Malone       PF  2003
37      Blazers  16200000.0     Rasheed Wallace       PF  2003
38         Nets  16105000.0     Dikembe Mutombo        C  2003
...         ...         ...                 ...      ...   ...
6198    Thunder    815615.0      Dakari Johnson        C  2018
6201    Thunder    815615.0      Rashawn Thomas       PF  2018
6202    Thunder    815615.0        Bryce Alford        G  2018
6206       Jazz    815615.0         Erik McCree        F  2018
6207       Jazz    815615.0       Royce O'Neale       SF  2018
6208    Celtics    815615.0        Daniel Theis       PF  2018
6209    Celtics    815615.0           L.J. Peak       SG  2018
6214   Warriors    543471.0          Elgin Cook       SF  2018
6215   Warriors    543471.0          Scott Wood       SG  2018
6216   Warriors    543471.0       Cameron Jones       SG  2018
6221       Suns    543471.0    Gracin Bakumanya        C  2018
6222       Jazz    543471.0      Isaiah Cousins        G  2018
6223     Knicks    543471.0         J.P. Tokoto       SG  2018
6224    Pistons    543471.0    Nikola Jovanovic       PF  2018
6225    Pistons    543471.0        Trey Freeman       PG  2018
6226    Celtics    543471.0     Jonathan Holmes       PF  2018
6228       Jazz    473835.0         Joe Johnson        G  2018
6233    Blazers    229892.0     Wade Baldwin IV       PG  2018
6234  Cavaliers    207722.0       Larry Sanders       PF  2018
6236       Suns    175000.0  Shaquille Harrison       PG  2018
6237     Lakers    148318.0         Travis Wear        F  2018
6239  Mavericks    115344.0        Manny Harris       PG  2018
6240    Rockets     96406.0      Tim Quarterman        G  2018
6241  Mavericks     91442.0      Aaron Harrison        G  2018
6249       Jazz     44495.0      David Stockton        G  2018
6250    Celtics     44495.0     Jonathan Gibson        G  2018
6251  Mavericks     31969.0      Pierre Jackson       PG  2018
6252     Lakers     13824.0        Andre Ingram        G  2018
6253      Magic      4608.0     Amile Jefferson       PF  2018
6254    Rockets      4608.0       Aaron Jackson        F  2018

[3607 rows x 5 columns]

In [617]:
# Get list of years in players table
years = transformed_players['Year'].unique()

['2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012'
 '2013' '2014' '2015' '2016' '2017' '2018']

In [618]:
for ind, row in winners_data_df.iterrows():
    if row['Year'] not in years:
        updated_winners = winners_data_df.drop(ind)

In [619]:
updated_winners.head()

,Year,Team,Game,Win,Home,MP,FG,FGA,FGP,TP,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Lakers,1,1,1,240,48,89,0.539,0,...,0.867,12,31,43,30,5,9,17,24,109
1,1980,Lakers,2,0,1,240,48,95,0.505,0,...,0.667,15,37,52,32,12,7,26,27,104
2,1980,Lakers,3,1,0,240,44,92,0.478,0,...,0.767,22,34,56,20,5,5,20,25,111
3,1980,Lakers,4,0,0,240,44,93,0.473,0,...,0.737,18,31,49,23,12,6,19,22,102
4,1980,Lakers,5,1,1,240,41,91,0.451,0,...,0.788,19,37,56,28,7,6,21,27,108